*{
    font-family: sans-serif;
}




body{
    background-color: black;
    overflow-x: hidden;
}
#container {
    width: 90%;
    margin: auto;
    background-color: black;
}
#Blog_Navbar {
    width: 100%;
    height: 80px;
    margin: auto;
    background-color: black;
    margin-bottom: 5px;
    position: sticky;
    display: flex;
    justify-content: center;
}
#logo {
    height: 70px;
    width: 20%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 100px;
}
#logo > img {
    height: 50px;
    width: 200px;
}
#menu {
    height: 100%;
    width: 50%;
    margin-right: 10%;
    display: flex;
    gap: 5%;
    justify-content: center;
    margin-top: -30px;
}
#menu > div {
    width: 100%;
    text-align: center;
    height: 100%;
    margin-top: 5%;
    color: white;
    font: 12px;
    font-family: "Montserrat", sans-serif;
}
#menu > :hover {
    background-color: peru;
    height: 80px;
    width: 80px;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
    position: relative;
    top: 35px;  
}
#social_media {
    height: 50%;
    width: 20%;
    margin-top: 1%;
    color: white;
    display: flex;
    gap: 10px;
    align-items:center;
}
#social_media > :hover {
    background-color: peru;
    margin: auto;
}
i {
    color: white;
    margin-top: 25px;
    font-size: 18px;
    align-items: center;
}

/* Navbar ends */

.container_slider{
    height:400px;
    width: 1250px;
    margin: auto;
    position: relative;
    margin-top: 50px;
}
.slider_div{
    height:400px;
    width: 1230px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;


}
.slider_div>div{
    height: 100%;
    width: 300px;
    
}
.slider_div>div>img{
    height: 100%;
    width: 300px;
}
.slider2{
    display: none;

}
.slider_div>div{
    position: relative;
}
 
.slider{
    display:block;
    
}
.disc{
    position: absolute;
    width: 100%;
    height:80px;
    bottom: 0px;
    left: 0px;
    text-align: center;
    font-family: sans-serif;
    background: #000 ;
    opacity: 0.7;
    color: white;
}
.left{
    left
    : 20px;
    
}
.left,.right{
    position: absolute;
    height: 50px;
    width: 60px;
    top:30%;
    font-size: 40px;
    text-align: center;
    cursor: pointer;

}
.left-arrow,.right-arrow{
    left: 20px;
    font-size: larger;
    font-weight: bolder;
    color: white;
}
.right{
    right: 20px;
    
}
/* slider Ends */

#content{
    height: 3500px;
    width: 100%;
    /* border: 1px solid red; */
}
.latest{
    height: 30px;
    width: 180px;
    text-align: center;
    padding-top: 15px;
    background-color: #3a3a3a;
    font-size: 15px;
    color: white;
    margin-top: 50px;   
}
hr{
    margin-top: 0px;
    color: #3a3a3a;
    opacity: 0.5;
    width: 800px;
    margin-left:0px ;
}
.post{
    height: 3200px;
    width: 95%;
    margin-top: 20px;
    display: flex;
}
.left_content{
    height:100%;
    width:65%;
    border: 1px solid black;
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(2,1fr);
    gap:20px;
}
.right_content{
    height: 950px;
    width:350px;
    border: 1px solid black;
    color: white;
    background-color: black;
    line-height: 30px;
    position: sticky;
    top:85px;
    margin-left: 30px;

}
.left_content>div{
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    background-color: black;
}
img{
    width: 95%;
    height:380px;
    margin-left: 10px;
}
.one{
    width: 300px;
    margin-top: 20px;
    background-color: #000;
    color: peru;
    font-size: medium;
}
h3,p{
    color: white;
}
.two{
    background-color: #a85;
    color: white;
    border-radius: 2px;
    height: 30px;

}
.two,.one:hover{
    cursor: pointer;
}

hr{
margin-top: 0px;
color: #3a3a3a;
opacity: 0.5;
width: 900px;
margin-left:0px ;
}
.left_content hr{
    width: 80px;
    margin-left: 150px;
    color: peru;
}
input{
    width: 98%;
    height: 40px;  
    border:2px solid rgb(68,68,68);
    background-color: black;
    color:rgb(68,68,68);
 }
 #recent{
    height: 30px;
    width:150px; 
    text-align: center;
    background-color: rgb(33,33,33);
    margin-top: 50px;
}
#recent2{
    height: 30px;
    width:300px;
    text-align: center;
    background-color: rgb(33,33,33);
    margin-top: 50px;
}
#second hr{
    margin-top: 0px;
    border:0.5px solid rgb(33,33,33);
    width: 100%;
}
h3,p,h2{
    color: white;           
}
.recent_post:hover{
    cursor: pointer;
    color: rgb(151,102,44); 
    text-decoration: underline;
}
#subbutton {
    width: 100%;
    height: 40px;
    background-color: rgb(68,68,68);
    margin-top: 20px;
    color: white;
 }
 #subbutton:hover{
     cursor: pointer;
 }
 #footer{
    height: 300px;
    width: 100%;
    border: 1px solid white;
    background-color: white;
    margin: auto;
    margin-top: 10px;
}
#footer2{
    height: 400px;
    width: 90%;
    margin: auto;
    justify-content: center;
    text-align: center;
}
/* img{
    width: 95%;
    height:380px;
    margin-left: 10px;
} */
#footer2_1{
    height: 120px;
    width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;

}
#footer2_1>div{
    height: 100%;
    width: 100px;
    color: gray;
    font-family: sans-serif;
    line-height:40px;
    text-align: center;
}
#footer2_1>div:hover{
    cursor: pointer;
    color: rgb(151,102,44); 
}
#last{
    width: 200px;
    height: 30px;
    margin: auto;
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}
#last>div{
    height: 100%;
    width: 70px;
    color:gray;
    font-family: sans-serif;
}
#media{
    height: 50px;
    width: 150px;
    background-color: black;
    color: aliceblue;
    border-radius: 4px;
    
}
#media:hover{
    cursor: pointer;
}
#footer>div{
    height:200px;
    width: 400px;
    margin-left: 250px;
    margin-top: 50px;
}
#footer2 hr{
    width: 100%;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}









 