#headImg {
    padding: 40px 0px;
    width: 83%;
    margin: auto;
}
#homeImg {
    width: 100%;
    height: 300px;
}
body {
    background-color: rgb(248, 248, 248);
}
#head {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    padding: 40px 0px;
}
#head2 {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    color: #505357;
    padding: 20px 0px;
}
#box1 {
    display: flex;
}
.icon {
    font-size: 13px;
    color: black;
}
#icon {
    width: 20px;
    height: 20px;
    color: black;
    cursor: pointer;
}
#box2 {
    width: 15%;
    display: flex;
    justify-content: space-between;
}
#box2 > div {
    display: flex;
    gap: 5px;
}
#head p {
    font-size: 20px;
    color: #6C757D;
    cursor: pointer;
}
#container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
#maindiv {
    /* border: 1px solid red; */
    cursor: pointer;
    background-color: white;
    line-height: 30px;
}
#numdiv {
    display: flex;
    justify-content: flex-end;
}
#numimg {
    height: 15px;
    margin-top: 7px;
}
#prodimg {
    width: 194px;
    height: 256px;
    padding-left: 26px;
}
.prodname {
    text-align: center;
    color: #323436;
}
.prodprice {
    text-align: center;
}
.stardiv {
    display: flex;
    justify-content: center;
}
.star {
    width: 17px;
    height: 17px;
    margin-top: 6px;
}
.p {
    padding-top: 30px;
    margin-left: 110px;
    color: #212529;
    padding-bottom: 10px;
}
.botdiv {
    display: none;
    height: 30px;
    border: 1px solid black;
}
.botdiv > div:nth-child(1) {
    width: 30%;
}
.botdiv > div:nth-child(2){
    width: 70%;
    height: 100%;
    background-color: black;
    color: white;
}
.heartimg {
    height: 55%;
    margin-left: 25px;
    margin-top: 5px;
}
.select {
    text-align: center;
    font-size: 15px;
    width: 100%;
    height: 100%;
}
#maindiv:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    
}