*{
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
}


/* top part start */
#top-part{
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 2.5%;
    margin-top: 3.5%;
}

#first{
    display: flex;
    max-width: 100%;
    height: 60%;
    margin-left: 5%;
}

#first > div:nth-child(1){
    display: flex;
    width: 80%;
    align-items: flex-end;
}

#first > div:nth-child(1) > p{
    padding-left: 8px;
    color: #6C757D;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 0.8 px;
}

#first > div:nth-child(2){
    display: flex;
    width: 10%;
    align-items: flex-end;
    justify-content: end;
}

#first > div:nth-child(2) > p{
    padding-left: 7px;
    padding-bottom: 4px;
    font-size: 16px;
    color: #212529;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 0.8 px;
}

#first > div:nth-child(3){
    display: flex;
    width: 10%;
    align-items: flex-end;
    justify-content: end;
    margin-right: 5%;
}

#first > div:nth-child(3) > p{
    padding-left: 7px;
    padding-bottom: 4px;
    font-size: 16px;
    color: #212529;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 0.8 px;
}

#second{
    max-width: 100%;
    height: 40%;
    margin-left: 5%;
}

#second > p{
    padding-top: 15px;
    font-family: 'Quicksand', sans-serif;
    font-size: 14.4px;
    color: #212529;
    letter-spacing: 0.8 px;
}

/* top part ends */


/* product list start */    
#productlist{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 83%;
    gap: 50px;
    margin: auto;
    margin-bottom: 40px;
}

.div_for_shade{
    display: flex;
    height: 18px;
    justify-content: end;
    column-gap: 6px;
    background-color: #ffffff;
    padding: 2px;
}

.div_for_shade > p{
    background-color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
}

.container{
    width: 230px;
    height: 390px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.productImg{
    max-width: 194px;
    max-height: 256px;
}

.productName{
    color: #808080;
    font-size: 11.5px;
    background-color: #ffffff;
    font-family: 'Gideon Roman', cursive;
}

.price{
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    background-color: #ffffff;
    color: #000000;
}

.rating{
    margin-bottom: 18px;
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    background-color: #ffffff;
    color: #000000;
}

.div_hover{
    width: 100%;
    height: 25px;
    display: none;
}

.div_hover > div:nth-child(1){
    width: 28%;
    height: 100%;
    border: 1px solid #000000;
    background-color: #ffffff;
}

.div_hover img{
    height: 20px;
    width: 20px;
    object-position: center;
    padding: 2px;
    background-color: #ffffff;
}

.div_hover > div:nth-child(2){
    width: 72%;
    height: 100%;
    border: 1px solid #000000;
    background-color: #000000;
}

.div_hover p{
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    background-color: #000000;
    padding: 4px;
}

.container:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    
}
/* product list end */

