body {
    margin: 0;
    padding: 0%;
  }
  
  .login_register{
    font-family: 'Quicksand', sans-serif;
    text-decoration: underline;
    font-size: 15px;
    letter-spacing: 1px;
    color: #505050;
  }
  
  .main {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 110px;
      margin: 5% 10% 0% 5%;
      grid-template-areas: "a a a b b b c c c d d d";
    }
  
    .box-img > img {
      width: 300px;
      height: 300px;
      margin-left: 600px;
      padding: 50px;
    }
  
    ::placeholder {
      color: #afa9a9;
      font-size: smaller;
    }
    #header {
      display: flex;
      background-color: #f8f9fa;
      height: 100px;
    }
    #header-container {
      width: 100%;
      display: block;
      position: sticky;
      z-index: 10;
      top: 0%; 
    }
  
    .logo {
      margin: 2.2% .8%;
      width: 13%;
    }
    .logo > img {
      margin-left: 35px;
    }
    input {
      caret-color: transparent;
      height: 40px;
    }
    .searchbar {
      margin-top: 26px;
      width: 50%;
      height: 40px;
      border: 0;
      border-radius: 30px;
      display: flex;
      margin-left: 30px;
    }
  
    .search_input {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      border: white;
      height: 40px;
      padding-left: 20px;
      width: 80%;
      font-family: 'Quicksand', sans-serif;
      border-radius: 30px 0px 0px 30px;
    }
  
    .searchbar > .search_icon {
      color: white;
      background-color: #212529;
      border-radius: 0px 30px 30px 0px;
      font-family: 'Quicksand', sans-serif;
    }
  
    .search_icon {
      height: 32px;
      width: 20%;
      display: flex;
      padding: 10px 0px 0px 30px;
      background-color: white;
    }
  
    .login_btn {
      cursor: pointer;
      float: right;
      display: flex;
      align-items: center;
      margin-left: 7%;
    }
    .login_btn > img {
      height: 27px;
      width: 27px;
      margin: 7px;
    }
    .cute_btn {
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-left: 5%;
    }
    .cute_btn > img {
      height: 19px;
      padding-right: 10px;
  
    }
    #dropdown_container {
      width: 100%;
      margin: 0px;
      height: 30px;
      border: 0px;
      display: flex;
      justify-content: space-between;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  
    .dropdown_menu {
      display: flex;
      justify-content: space-between;
      width: 45%;
      padding: 10px;
    }
  
    .dropdown_menu > div {
      color: #707477e8;
    }
  
    #home_nav ul {
      -webkit-box-shadow: 0 4px 6px -6px #222;
      -moz-box-shadow: 0 4px 6px -6px #222;
      box-shadow: 0 4px 6px -6px #222;
      list-style-type: none;
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      background-color: white;
    }
    ul li {
      margin: 15px 25px;
    }
    .dropdown-makeup ul {
      background-color: white;
      display: flex;
      position: absolute;
      align-items: flex-start;
      flex-direction: column !important;
      padding: 0;
      width: 180px;
    }
  
    .dropdown-makeup ul li {
      display: flex;
      flex-direction: row !important;
      justify-content: flex-start;
    }
    .dropdown-makeup {
      display: none;
    }
    li:hover > .dropdown-makeup {
      background-color: white;
      display: block;
    }
    ul {
      padding: 0px;
      display: none;  
    }
  
    .nav_link:hover {
      text-shadow: 1px 1px 5px grey;
    }
  
    .main > .gap {
      margin: 0px 30px;
    }
  
    #A {
      background-color: #8731bb;
      grid-area: a;
      border-radius: 5px;
      padding: 4px 20px 10px 50px;
    }
    #A:hover {
      box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    }
    #B {
      background-color: #14e034;
      grid-area: b;
      border-radius: 5px;
      padding: 4px 20px 10px 32px;
    }
    #B:hover {
      box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    }
  
    .main :nth-child(3) {
      background-color: #f94144;
      grid-area: c;
      border-radius: 10px;
      padding: 4px 20px 10px 32px;
    }
    .main :nth-child(3):hover {
      box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    }
    .main :nth-child(4) {
      background-color: #00b4d8;
      grid-area: d;
      border-radius: 5px;
      padding: 4px 20px 10px 32px;
    }
    .main :nth-child(4):hover {
      box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    }
    a {
      text-decoration: none;
    }
  
    .icon {
      margin: 30px 20px -40px 55px;
      font-size: 16px;
      font-weight: 500;
      color: gray;
    }
    .icon a {
      border: 0px;
      background-color: white;
      color: black;
    }
    .icon a:hover {
      color: gray;
    }
    .name {
      color: rgb(241, 63, 212);
      font-size: 20px;
    }
    #img {
      height: 30%;
      width: 40%;
      margin-left: 400px;
      margin-top: -100px;
    }
    #text1 {
      margin-left: 130px;
      color: rgb(94, 86, 86);
    }
    #text2 {
      margin-left: 130px;
      font-weight: 800px;
      color: rgb(94, 86, 86);
    }
    #distance_from_top {
      margin-top: 154px;
    }
  
    #sub {
      background-color: #fc2779;
      color: white;
      margin-top: 20px;
      padding: 10px 25px 10px 25px;
      border: 0px;
      border-radius: 2px;
    }
    #sub:hover {
      background-color: violet;
    }
  
    .tags{
      color: #6c767d;
      font-size: 13px;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      letter-spacing: .5px;
    }
  
    .tags:hover{
      text-shadow: 1px 1px 5px grey;
    }
  
    #home_nav li{
      font-size: 12px;
      font-family: 'Quicksand', sans-serif;
      color: #3a3b3b;
    }
  